mymane-backend-main/.vs/
mymane-backend-main/My_Mane/bin
mymane-backend-main/My_Mane/obj/
mymane-backend-main/My_Mane/.vs/
mymane-frontend-main/node_modules/
mymane-frontend-main/dist/
mymane-frontend-main/.vs/
mymane-frontend-main/package-lock.json
mymane-backend-main/My_Mane/Migrations